* {
  box-sizing: border-box;
}

.list-hover {
	border: 1px solid green;
	border-radius:10px 10px;
	margin-top:5px
}

.list-hover:hover {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  cursor: pointer;
}

.responsive {
  padding: 6px 6px;
  float: left;
  width: 24.99999%;
}

.gallery {
    border: 1px solid #ccc;	
}

.gallery img {
	width:100%;
	height: 300px;
	object-fit: cover;
}

.gallery:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}